<!doctype html>
<html class="no-js" lang="">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Densou Trading Desk</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Search</a></li>
                <li><a href="/searches/recent">Recent</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="content">{% block content %}{% endblock %}</div>
</div>


<script>

    $("body").on( "change", "#sorter", function(event) {

        if (event.target.value == "") {
            return;
        }

        var order = event.target.value.split(":");

        window.location.href = window.location.origin + window.location.pathname + "?sortby=" + order[0] + "&dir=" + order[1];
    });

    $('select').material_select();
</script>
</body>
</html>
