{% extends "layout.twig" %}

{% block content %}

    <h2 class="header">Recent searches</h2>

    <ul class="collection">
        {% for searchItem in recentSearches %}
            <li class="collection-item">
                <span class="title">{{ searchItem.searchText }}</span>
                <p>{{ searchItem.datetime|date("Y-m-d H:i:s") }}</p>

            </li>
        {% endfor %}

    </ul>


{% endblock %}