<div id="search-form">
    <div class="row">
        <form class="col s12" method="post" action="/searches">
            <div class="row">
                <div class="input-field col l10 s12">
                    <input id="searchText" name="searchText" type="text">
                    <label for="searchText">Subject to Search</label>
                </div>
                <div class="input-field col l2 s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>