{% extends "layout.twig" %}

{% block content %}

    {% include 'searchform.twig' %}

    <div class="row">
        <div class="col s12 m9">
            <h2 class="header">{{ searchText }}</h2>
        </div>
        <form class="col s12 m3">
            <div class="input-field">
                <select id="sorter">
                    <option value="">Choose</option>
                    {% for sorter in sorters %}
                        <option value="{{ sorter }}:ASC" {% if currentSorter == sorter and currentSorterDir == "ASC" %}selected{% endif %}>{{ sorter|capitalize }} asc</option>
                        <option value="{{ sorter }}:DESC" {% if currentSorter == sorter and currentSorterDir == "DESC" %}selected{% endif %}>{{ sorter|capitalize }} desc</option>
                    {% endfor %}
                </select>
                <label for="sorter">Sort By:</label>
            </div>
        </form>
    </div>

    <div class="row">
        {% for contributor in result %}

            <div class="col m6 s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img style="max-height: 150px;" src="{{ contributor.avatar }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class='strong'>{{ contributor.name }}</p>
                        </div>
                        <div class="card-action">
                            Contributions: {{ contributor.contributions }}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}